---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section class="max-w-3xl mx-auto px-4 sm:px-6 py-10 text-gray-800">
    <h1 class="text-3xl sm:text-4xl font-bold mb-8">Impressum</h1>

    <div class="space-y-6 text-sm sm:text-base leading-relaxed">
      <p>
        <strong>Angaben gemäß § 5 TMG</strong>
      </p>

      <p>
        Jacob Edler<br />
        Edlichstraße 20<br />
        04315 Leipzig
      </p>

      <p>
        <strong>Kontakt</strong><br />
        E-Mail: edler.jacob@proton.me<br />
        Telefon: +4917643844208
      </p>
    </div>
  </section>
</Layout>
